
<section class="two-column-secction">

  <div id ="place-box">
    <form method="POST">
      <div class="form-wrapper">
        <label for="input-email"  >Email</label>
        <input type="email"  id="input-email" class="form-style" name="email" placeholder="Your Email" />

      </div>
      <div class="form-wrapper">
        <label for="input-password">Password</label>
        <input type="password" class="form-style" name="password" id="input-password" placeholder="A Strong Password" />

      </div >
      <button class="btn-form">Log In</button>
    </form>
  </div>

  <div id="sign-up-box">
    <p>If you don't have an account, </p>
    <p>
      <a href="/authentication/sign-up">SIGN UP HERE</a>.
    </p>
      
  </div>

</section>
<section>

</section>