<section class="two-column-secction">


  <form method="POST" id="log-in-box">
    <h1 class="centered-text highlight">Log in</h1>

    <div class="form-wrapper">
      <label for="input-email">Email</label>
      <input type="email" id="input-email" class="form-style" name="email" placeholder="Your Email" />

    </div>
    <div class="form-wrapper">
      <label for="input-password">Password</label>
      <input type="password" class="form-style" name="password" id="input-password" placeholder="A Strong Password" />

    </div>
    <button class="btn-form">LOG IN</button>
  </form>


  <div id="sign-up-box">
    <img src="/images/unqme_logo2.png" alt="unQme" />
    <p>If you don't have an account,
      <a href="/authentication/sign-up" class="highlight">SIGN UP HERE.</a>
    </p>

  </div>

</section>
<section class="centered-text">
  <h1 class="section-title">unQme: Unquarantine me!</h1>
  <p>
    In this challenging time of a global pandemic, helping your local friends and neighbours became more important and
    necessary than ever.<br />

    It is hard to predict when you might have to quarantine and when that happens, you have no time to go get
    groceries.<br />

    Wouldn’t it be nice to have a place where people in your community (including yourself) can ask for help getting
    groceries, and support each other?<br />

    unQme was born out of the hope to reconnect you and your neighbours and rebuild a feeling of community during a time
    of increased isolation.<br />

    Post shopping lists if you are under quarantine. Take care of these shopping lists for your neighbour if you live
    close!<br />


  </p>
</section>