
<section class="two-column-secction">


  <form method="POST" id="log-in-box">
    <h1 class="centered-text highlight">Log in</h1>

    <div class="form-wrapper">
      <label for="input-email"  >Email</label>
      <input type="email"  id="input-email" class="form-style" name="email" placeholder="Your Email" />

    </div>
    <div class="form-wrapper">
      <label for="input-password">Password</label>
      <input type="password" class="form-style" name="password" id="input-password" placeholder="A Strong Password" />

    </div >
    <button class="btn-form">LOG IN</button>
  </form>


  <div id="sign-up-box">
    <img src="/images/unqme_logo2.png" alt="unQme" />
    <p>If you don't have an account,
      <a href="/authentication/sign-up" class="highlight">SIGN UP HERE.</a>
    </p>
      
  </div>

</section>
<section class="centered-text">
<h1 class="section-title">unQme: Unquarantine me!</h1>
<p >
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quas aspernatur, aliquam aliquid impedit voluptatem asperiores fugit corporis illum maxime eaque temporibus? Exercitationem, dicta reprehenderit hic earum quae praesentium consequuntur, quod atque, laborum excepturi maiores sapiente magni error. Sapiente id enim deleniti modi eos error accusantium alias. Autem doloribus veritatis sapiente magni modi. Suscipit magnam vitae vero explicabo doloremque nam aperiam eligendi laborum, veritatis consectetur laudantium, placeat repellendus aliquam sit non modi magni nulla illo fugit, mollitia earum sint cupiditate totam! Ipsam, officiis. Voluptatem tempore adipisci incidunt magni quo reprehenderit ea fugit dolorum illo, nulla porro est voluptates commodi eius?
</p>
</section>