<h1 class="section-title centered-text">Messages to {{receiver.name}}</h1>


    {{#each messages}}
<div class="message">

    <div class=   "sender-{{sender}} sb5"> {{{messageBody}}}</div>

</div>
    {{/each}}




<form class="send-message" method="POST">
    <label for="input-message" >New Message </label>
    <textarea id="message" name="message" rows="5" cols="33" placeholder="Your message to {{receiver.name}}">   </textarea>
    <button id="send" class="btn-form">Send</button>
</form>