<h1 class="section-title centered-text">Create a shopping list</h1>
<div class="create-list">
    <form method="POST">
            <label for="input-store" class="centered-text">From which store?</label>
            <input type="text" id="input-store" class="centered-text" name="storeName" placeholder="Edeka, DM, Rewe, Lidl, etc..." required>

            <label for="input-items centered-text" class="centered-text">What do you need?</label>
            <input type="text" id="input-items" class="centered-text" name="itemsNeeded" placeholder="carrots, milk, eggs, etc..." required>

        <button class="btn-form">Post!</button>
    </form>
</div>