<h1 class="section-title centered-text">Create a shopping list</h1>
<div class="create-list">
    <form method="POST">

        <label for="input-store" class="centered-text">From which store?</label>
        <select name="storeName" id="input-store" required>
            <option value="">--Please choose a store--</option>
            <option value="rewe">Rewe</option>
            <option value="edeka">Edeka</option>
            <option value="dm">DM</option>
            <option value="rossmann">Rossmann</option>
            <option value="alnatura">Alnatura</option>
            <option value="bioCompany">Bio Company</option>
            <option value="lidl">Lidl</option>
            <option value="penny">Penny</option>
            <option value="aldi">Aldi</option>
            <option value="other">Other</option>
        </select>

        {{!-- <input type="text" id="input-store" class="centered-text" name="storeName"
            placeholder="Edeka, DM, Rewe, Lidl, etc..." required> --}}

        <label for="input-items" class="centered-text">What do you need?</label>
        <input type="text" id="input-items" class="centered-text" name="itemsNeeded"
            placeholder="carrots, milk, eggs, etc..." required>

        <button class="btn-form">Post!</button>
    </form>
</div>