<h1>Edit the shopping list</h1>

<form method="POST">
    <label for="input-store">From which store?</label>
    <input type="text" id="input-store" name="storeName" placeholder="Edeka, DM, Rewe, Lidl, etc..."
        value="{{ list.storeName }}" required>

    <label for="input-items">What do you need?</label>
    <input type="text" id="input-items" name="itemsNeeded" placeholder="carrots, milk, eggs, etc..."
        value="{{ list.itemsNeeded }}" required>

    <button>Update the list</button>
</form>