<h1>Single List</h1>

<h3>{{ list.storeName }}</h3>
<h4>{{ list.itemsNeeded }}</h4>
<a href="/list/{{ list._id }}/edit">Edit the list</a>
<form action="/list/{{ list._id }}/delete" method="POST">
    <button>Delete the list</button>
</form