
#sign-up-box{
    text-align: left;
    box-sizing: border-box;
    width: 350px;
    text-align: center;
}

#log-in-box{
    text-align: left;
    box-sizing: border-box;
    width: 400px;
}


form {
    display: flex;
    flex-direction: column;
}
  
input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']),
textarea,
select,
.btn-form
 {
    font: inherit;
    color: inherit;
    border: 2px solid white;
    display: block;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    background:none;
    &:focus {
        outline: 0 !important;
        border: 1px solid rgb(37,111,63);

    }  
}

input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']){
    cursor: text
}

.btn-form{
    margin-bottom:10px;
    cursor:pointer
}


select,
textarea,
.btn-picture,
input:not([type='checkbox']),
input:not([type='radio']),
input:not([type='range']){
    font-size: 0.8em;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 2px solid white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 20px;
}

.form-wrapper {
    margin-bottom: 20px;
}