.profile-picture {
    margin-right: 2em;
    width: 20em;
    height: 20em;
    border-radius: 60% 10% / 10% 60%;
    object-fit: cover;
  }
  
  #edit-profile{
    border-radius: 55% 8% / 8% 55%;
    padding: 50px 50px;  
    background-color:$lightorange;
  
  }

  #input-profile-picture{
    border: 3px solid white;
  }