#map-shopList{
    height: 365px;
    width: 500px;
    margin-left: 10px;
    border-radius: 20px;
    border: 3px solid white;
}

.two-column-secction-shoplist{
    margin-top: 50px;
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
}