$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsl(0, 0, 90%);
$logoorange: rgb(236,173,48);
$lightorange: rgb(239,193,103);
$darkorange: rgb(214, 145, 8);
$darkgreen:rgb(37,111,63);
$whiteorange: rgb(241, 235, 223);


$rewe: rgb(165, 25, 25);
$lightrewe: rgb(246, 187, 187);
$edeka: rgba(226, 187, 12, 0.431);
$lightedeka: rgb(245, 235, 194);
$dm: rgb(62, 74, 248);
$lightdm: rgb(191, 194, 248);
$rossmann: rgb(117, 0, 0);
$lightrossmann: rgb(177, 136, 136);
$alnatura: rgb(63, 141, 0);
$lightalnatura: rgb(237, 255, 221);
$bioCompany: rgb(0, 128, 79);
$lightbioCompany: rgb(199, 255, 234);
$lidl: rgb(18, 5, 207);
$lightlidl: rgb(170, 199, 246);
$penny: rgb(221, 141, 12);
$lightpenny: rgb(255, 234, 200);
$aldi: rgb(64, 208, 251);
$lightaldi: rgb(188, 238, 253);
$other: rgb(50,50,50);
$lightother: rgb(206, 206, 206);


@import url('https://fonts.googleapis.com/css?family=Quicksand');
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  max-width: 100%;
  padding: 0 0;
  margin: 0 auto;
  font-family: 'Quicksand';
  font-weight: 700;
  line-height: 2;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;

}

nav {

  position:fixed;
  margin: 0 0;
  background-color: inherit;
  width: 100%;
  z-index: 3;


  div{
    margin: 0 auto;
    display: flex;
    width: 60em;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 20px;
    background-color:inherit;
  }
  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a, 
  button{
    font: inherit;
    border: 0;
    background-color: inherit;

    &:not(:last-child) {
      margin-right: 0;
    }
    &:first-child {
      margin-right: 2em;
    }
    cursor: pointer;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: 700;
  
}

.highlight,
.highlight-wide{
  display: block;
  color: rgb(37,111,63);
  background-color: white;
  border-radius: 20px;
  padding: 0px 0px;
  margin: 0 auto
}
.highlight{
  width: 70%;
}
.highlight-wide{
  width: 100%;
}

img, p {
  width: 100%;
}


textarea {
  min-height: 8em;
  resize: vertical;
}

label {
  margin-bottom: 0.5em;
}

#realbody{
  padding-top: 80px;
  margin: 0 auto;
  width: 60em;
  margin-bottom: 100px;

}

section{
  margin-bottom: 100px;
}

.section-title{
  font-size: 3em;
  color: $darkorange
}

.delete-btn{
  background-color: $darkorange !important;
  border: 2px solid $darkorange !important;
}

.rewe-color{
  border:3px solid $rewe;
  background-color: $rewe ;
  border-radius: 60% 10% / 10% 60%;
}
.edeka-color{
  border:3px solid $edeka;
}
.dm-color{
  border:3px solid $dm;
}
.rossmann-color{
  border:3px solid $rossmann;
}
.alnatura-color{
  border:3px solid $alnatura;
}
.bioCompany-color{
  border:3px solid $bioCompany;
}
.lidl-color{
  border:3px solid $lidl;
}
.penny-color{
  border:3px solid $penny;
}
.aldi-color{
  border:3px solid $aldi;
}
.other-color{
  border:3px solid $other;
}

#description .p-description{
  width: 40em;
  margin: 0 auto;
  font-size: 1.1em;
}

#description img{
  margin-top: 30px;
} 

.input-text{
  cursor:text
}

@import 'main';
@import 'single-shopList';
@import 'forms';
@import 'shop-list';
@import 'cards';
@import 'message';
@import 'profile';

